body {
    margin: 0;
    padding: 0;
    background: rgb(243, 113, 8);
    font-family: Arial, sans-serif;
    z-index: 1000;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    max-width: 100%;
    margin: 0 auto;
}

.nav-menu {
    font-weight: bolder;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


.nav-item {
    position: relative;
    margin: 0 15px;
}

.nav-item a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}


.nav-item a:hover {
    background-color: #ba5605;
    color: #ffffff;
}
.nav-item.active  {
    background-color: #ba5605; 
    color: #ffffff; 
    border-radius: 50px;
   
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #333;
}

.dropdown-menu a img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.dropdown-menu a:hover {
    background: rgb(243, 113, 8);
    border: 2px solid black;
}

.images-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.images-row img {
    max-width: 100px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    flex: 1;
}

.hero img {
    animation: float-reverse 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes float-reverse {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    padding: 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-section {
    padding: 50px;
    background: rgb(243, 113, 8);
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 5px #333;
    font-weight: bolder;
}

.info-section p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

#btn-aboutNaruto {
    width: 80%;
    font-size: 60px;
    color: #333;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid #333;
    background: none;
    position: relative;
}

#btn-aboutNaruto:hover {
    color: white;
    background-color: #333;
    cursor: pointer;
}

#kunai {
    float: right;
    margin-right: 50px;
    transform: rotate(225deg);
}

#btn-aboutNaruto:hover #kunai {
    animation: moveRight 2s infinite;
}

@keyframes moveRight {
    0%, 100% {
        transform: translate(0, 0) rotate(225deg);
    }
    50% {
        transform: translate(20px, 0) rotate(225deg);
    }
}

.modal {
    font-weight: bold;
    color: #333;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 10px; 
}

.myModal {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border: 3px solid rgb(243, 113, 8);
    border-radius: 15px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff0000;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: rgb(255, 87, 87);
}

#informAnime {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px; 
}

#animeInform {
    font-size: 16px;
    line-height: 1.5;
}

.naruto-img {
    max-width: 100%;
    border-radius: 50px;
}

.guy-kakashi-gif {
    max-width: 100%;
    display: block;
    text-align: center;
}

.section {
    position: relative;
    display: block;
    padding: 20px;
    margin: 5% 20px;
    background-color: #333;
    color: #f8e5e5;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ba5605;
}

.section p {
    font-size: 1.5em;
    line-height: 1.6;
}

.section ul {
    margin-top: 10px;
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 20px;
}

.section-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.slideshow-container {
    max-width: 70%;
    position: relative;
    margin: auto;
}

.img-slider {
    width: 100%;
    border-radius: 20px;
}


.text {
    color: #f2f2f2;
    font-size: 1vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    max-width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #ac6408;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; } 
    to { opacity: 1; }
}



@media screen and (max-width: 1024px) {
    .guy-kakashi-gif {
        max-width: 50%;
        top: 20%;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .hero img {
        width: 70%;
    }

    .images-row {
        flex-direction: column;
        align-items: center;
    }

    .images-row div {
        margin: 10px 0;
    }

    .images-row img {
        max-width: 80px;
    }

    .modal-content {
        width: 90%;
        padding: 20px;
    }

    #btn-aboutNaruto {
        width: 100%;
        font-size: 50px;
    }

    #btn-aboutNaruto:hover #kunai {
        animation: moveRight 2s infinite;
    }

    .guy-kakashi-gif {
        max-width: 70%;
        right: 5%;
        top: 10%;
    }

    .section {
        margin: 10px;
        padding: 10px;
        display: grid;
        place-items: center;
    }

    .section h3 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1.2em;
    }

    .section-img {
        width: 90%;
    }

    .slideshow-container {
        max-width: 90%;
    }

    .text {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        max-width: 100%;
        padding: 0;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-item {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .nav-item a {
        display: block;
        width: 90%;
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

    .nav-item a:hover {
        background-color: #ba5605;
    }

    .dropdown-menu {
        position: static;
        margin-top: 10px;
        width: 100%;
        background-color: #333;
    }

    .dropdown-menu a {
        padding: 10px;
        font-size: 16px;
    }

    .images-row {
        flex-direction: row;
        padding: 10px 0;
        width: 100%;
    }

    .images-row img {
        max-width: 80px;
        height: auto;
        animation: float 3s ease-in-out infinite;
        flex: 0 1 auto;
    }

    .hero img {
        width: 100%;
        animation: float-reverse 3s ease-in-out infinite;
    }
    
    .modal-content {
        max-width: 100%;
    }

    #myModal {
        max-width: 100%;
    }

    .guy-kakashi-gif {
        display: none;
    }

    .section h3 {
        font-size: 1.2em;
    }

    .section p {
        font-size: 1em;
    }
    .section-img{
        border-radius: 25px;
    }
    #btn-aboutNaruto {
        font-size: 40px;
    }

    .section-img {
        width: 100%;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: white;
        z-index: 1000;
        padding: 0; 
    }
    
    
}


/* Footer Styling */
footer {
    max-width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0; 
    text-align: center;
    border-radius: 100px 100px 0 0;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.footer-content .socials li {
    display: inline-block;
    margin: 0 10px;
}

.footer-content .socials li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.footer-content .socials li a:hover {
    color: #433d3c; 
}

.footer-bottom {
    background-color: rgb(31, 23, 17);
    padding: 10px 0;
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
}
